spring:
    main:
        banner-mode: off
    application:
        name: server
    profiles:
        active: dev
    datasource:
        url: jdbc:h2:file:./data
        username: sa
        password: sa
        driver-class-name: org.h2.Driver
    h2:
        console:
            enabled: true
    jpa:
        show-sql: false
        properties:
            hibernate:
                format-sql: false
    liquibase:
        enabled: true
        drop-first: false
        change-log: classpath:db/master.yml
server:
    port: 8080
    servlet:
        session:
            tracking-modes: cookie